<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="ssc" />

  <remap from="/diagnostics" to="/$(arg namespace)/diagnostics" />

  <group ns="$(arg namespace)">
   
    <!-- Add the pose detection node here -->
    <node pkg="ssc_joystick" type="gesture_detector_nodelet.py" name="gesture_detection_node" output="screen">
      <!-- Add any required parameters here if necessary -->
    </node>
  </group>
</launch>

